@import url("__title/comments__title.css");
@import url("__subtitle/comments__subtitle.css");
@import url("__container/comments__container.css");

.comments {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin-top: 112px;
  margin-left: auto;
  margin-right: auto;
}
