.block__item_bg_observatory {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../foto/observatory.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.3s ease;

  justify-content: space-between;
}

.block__item_bg_observatory:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../../../../foto/observatory.jpg);
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .block__item_bg_kamchatka {
    padding: 24px;
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .block__item_bg_kamchatka {
    padding: 16px;
  }
}

@media screen and (max-width: 320px) {
  .block__item_bg_kamchatka {
    padding: 16px;
  }
}
