@import url("__span-accent/content-row__span-accent.css");



.intro__content-row_text_autor{
    max-width: 283px;
    width: 29%;
    display: flex;
    flex-direction: column;
    font-family: Inter;
    flex-wrap: nowrap;
font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 16px;
color: #FFFFFF;
   
}

