@import url("_bg/block__item_bg_kamchatka.css");
@import url("_bg/block__item_bg_observatory.css");

.block__item {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 320px) {
  .block__item {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
