@import url("__title/lead__title.css");
@import url("__subtitle/lead__subtitle.css");
@import url("__image/lead__image.css");
@import url("__caption/lead__caption.css");
@import url("__figure/lead__figure.css");

.lead {
  display: flex;
  width: calc(100% - 454px);
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-top: 48px;
  margin-right: auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1439px) {
  .lead {
    width: calc(100% - 294px);
  }
}

@media screen and (max-width: 1279px) {
  .lead {
    width: calc(100% - 48px);
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: 100%;
  }
}
