@import url("__image/item__image.css");
@import url("__city/item__city.css");

.emblem__item {
  max-width: 208px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
