@import url("__title/video__title.css");
@import url("__subtitle/video__subtitle.css");
@import url("__block/video__blok.css");

.video {
  max-width: 1184px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 102px;
}
