@import url("__span-accent/intro__span-accent.css");

.intro__text-autor {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;

  color: #ffffff;
}
