@import url("__logo/header__logo.css");
@import url("__lang/header__lang.css");
@import url("__langs/header__langs.css");
.header {
  width: calc(100% - 256px);

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
  }
}
