@import url("__heading-title/additional__heading-title.css");
@import url("__text/additional__text.css");

.additional__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 284px;
  height: 330px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
