.link{
    text-decoration: none;
    opacity: 1;
    transition: all 0.3s ease;
}

.link:hover{
    opacity: 0.5;
    color: green;
    text-decoration: underline;
}

.link::after{
    color: grey;
    box-shadow: 0 0 15px rgb(247, 12, 12);
}