@import url("__title/cover__title.css");
@import url("__subtitle/cover__subtitle.css");

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 91px auto 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% - 256px);
  height: auto;
  background-image: url(../../foto/cover.jpg);
  position: relative;
  z-index: 0;
  text-decoration: none;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  display: block;
  opacity: 0.5;
  background-color: #2a2c2f;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .cover {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 320px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .cover {
    width: 100%;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .cover {
    width: 100%;
    margin-top: 102px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
