li {
  list-style-type: none;
}

.footer__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
  align-self: center;
  margin-right: 18px;
}

.footer__link:nth-child(2) {
  margin: 0px;
}

@media screen and (max-width: 320px) {
  .footer__text-copyright {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .footer__link {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .footer__link {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 425px) and (max-width: 1020px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1024px) {
  .footer__link {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280) {
  .footer__link {
    width: calc(100% - 96px);
  }
}
