.container__quote-text {
  margin-top: 42px;
  font-size: 0.875rem;
  line-height: 1.7;
}

@media screen and (max-width: 1023px) {
  .container__quote-text {
    font-size: 1rem;
    line-height: 1.7;
    margin-top: 24px;
    order: 3;
  }
}

@media screen and (max-width: 320px) {
  .container__quote-text {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 24px;
    order: 3;
    max-width: 288px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .container__quote-text {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 24px;
    order: 3;
  }
}

@media screen and (min-width: 376px) and (max-width: 424px) {
  .container__quote-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 24px;
    order: 3;
  }
}
