@import url('__title/place__title.css');
@import url("__website/place__website.css");
@import url("__image/place__image.css");
@import url("paragraph/paragraph.css");




.places__place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    margin-top: 92px;
  }