p {
  margin: 0;
}

.lead__caption {
  display: flex;
  max-width: 636px;
  justify-content: start;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .lead__caption {
    width: calc(100% - 32px);
    font-size: 0.6rem;
    line-height: 1.1;
    margin-left: 16px;
  }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
  .lead__caption {
    width: calc(100% - 32px);
    font-size: 0.6rem;
    line-height: 1.1;
    margin-left: 16px;
  }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
  .lead__caption {
    width: calc(100% - 32px);
    font-size: 0.6rem;
    line-height: 1.1;
    margin-left: 16px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .lead__caption {
    width: calc(100% - 48px);
    font-size: 0.6rem;
    line-height: 1.1;
    margin-left: 24px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .lead__caption {
    width: 100%;
    font-size: 0.6rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1025px) {
  .lead__caption {
    width: calc(100% - 202px);
    font-size: 0.6rem;
    line-height: 1.1;
  }
}
