@import url("__image/place__image.css");
@import url("__paragraph-region/place__paragraph-region.css");
@import url("__paragraph/place__paragraph.css");
@import url("__title/place__title.css");
@import url("__url-heading/place__url-heading.css");
@import url("__url/place__url.css");
@import url("__website/place__place-website.css");

.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  margin-top: 83px;
}
