@import url("__video-item/video__conteiner_item.css");
@import url("__video-item/video__conteiner_observatory.css");
@import url("__item-link/video__item-link.css");

.video__conteiner {
  max-width: 1184px;
  display: grid;
  grid-gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(583px, 1fr));
  grid-template-rows: 1fr;
}
